[Unit]
Description=JMusicBot
Requires=network.target
After=network.target

[Service]
WorkingDirectory=/home/moises/jmusicbot
User=moises
Group=moises
Type=simple
ExecStart=/usr/bin/env java -Dnogui=true -jar jmusicbot.jar
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
